.header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c4c4c4;
    padding: 0px 30px;
}

.searchArea {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchArea * {
    margin-left: 26px;
}

.searchBar {
    display: flex;
    height: 44px;
    width: 300px;
    padding-right: 20px;
    align-items: center;
    background-color: #666666;
    border-radius: 20px;
}

.searchBar input {
    flex: 1;
    background-color: inherit;
    border-radius: inherit;
    border: none;
    height: 100%;
    outline: none;
}

.searchBar input::placeholder {
    color: #c4c4c4;
}

.profileIcon {
    width: 24px;
    height: 24px;
    background-color: #666666;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo div {
    font-size: 30px;
    margin-left: 20px;
}