.chapter {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    height: 60px;
}

.chapters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.volume {
    margin-bottom: 20px;
    cursor: pointer;
}

.chapterTitleAndScan {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 600px) {
    .chapter {
        font-size: 14px;
    }
}