.followingItem {
    display: flex;
    padding: 10px;
    width: 50%;
    border-top: 2px solid #000;
}

.followingItem img {
    width: 94px;
}

.followingInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}

.desc {
    font-size: 13px;
    width: 95%;
    padding: 12px 0px;
}

.followingSubInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media(max-width:1000px) {
    .followingItem {
        width: 100%;
    }
}