.homePage {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.mainArea {
    flex: 1;
    max-width: calc(100% - 230px);
}

.contentArea {
    width: 98%;
}

.following {
    margin-top: 48px;
}

.followingIcon {
    display: flex;
    align-items: center;
}

.followingIcon p {
    margin-left: 12px;
}

.followingItems {
    display: flex;
    flex-wrap: wrap;
    background-color: #333333;
    border-bottom: 2px solid #c4c4c4;
}