.homePage {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.mainArea {
    display: flex;
    gap: 40px;
    flex: 1;
    max-width: calc(100% - 230px);
}

.contentArea {
    padding-top: 50px;
    margin: auto;
    width: 98%;
    max-width: 1400px;
}

.following {
    margin-top: 48px;
}

.followingIcon {
    display: flex;
    align-items: center;
}

.followingIcon p {
    margin-left: 12px;
}

.followingItems {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #c4c4c4;
}